.THIS .comm-navigation__list > li:first-child { 
  display: none;
  visibility: hidden;
}
.THIS {
 background:#FAFCFF; 
 box-shadow: 0px 8px 64px rgba(216, 230, 254, 0.5); 
  
/************************* COLORS ******************************/
/* Brand Color and Neutral Color 
--slds-g-color-brand-base-10: #200647;
--slds-g-color-brand-base-15: #1F0974;
--slds-g-color-brand-base-20: #260F8F;
--slds-g-color-brand-base-30: #2F2CB7;
--slds-g-color-brand-base-40: #3A49DA;
--slds-g-color-brand-base-50: #5867E8;
--slds-g-color-brand-base-60: #7F8CED;
--slds-g-color-brand-base-65: #8E9BEF;
--slds-g-color-brand-base-70: #9EA9F1;
--slds-g-color-brand-base-80: #BEC7F6;
--slds-g-color-brand-base-90: #E0E5F8;
--slds-g-color-brand-base-95: #F1F3FB;
  **/
/* Color Palattes not available in SLDS*/
/* Cool Grey Pallate */
--ief-g-color-palette-cool-grey-10: #16171D;
--ief-g-color-palette-cool-grey-15: #22232A;
--ief-g-color-palette-cool-grey-20: #2C2E37;
--ief-g-color-palette-cool-grey-30: #414450;
--ief-g-color-palette-cool-grey-40: #575B6D;
--ief-g-color-palette-cool-grey-50: #6E748A;
--ief-g-color-palette-cool-grey-60: #8E93A8;
--ief-g-color-palette-cool-grey-65: #9BA0B3;
--ief-g-color-palette-cool-grey-70: #AAADBE;
--ief-g-color-palette-cool-grey-80: #C7C9D2;
--ief-g-color-palette-cool-grey-90: #E4E5E9;
--ief-g-color-palette-cool-grey-95: #F3F3F3;
/* Warm Grey Pallate */
--ief-g-color-palette-warm-grey-10: #181818;
--ief-g-color-palette-warm-grey-15: #262321;
--ief-g-color-palette-warm-grey-20: #312D2A;
--ief-g-color-palette-warm-grey-30: #49433F;
--ief-g-color-palette-warm-grey-40: #635A53;
--ief-g-color-palette-warm-grey-50: #7D736A;
--ief-g-color-palette-warm-grey-60: #9F9185;
--ief-g-color-palette-warm-grey-65: #AD9E92;
--ief-g-color-palette-warm-grey-70: #BBAB9D;
--ief-g-color-palette-warm-grey-80: #D0C8C1;
--ief-g-color-palette-warm-grey-90: #E7E5E3;
--ief-g-color-palette-warm-grey-95: #F3F3F3;
--ief-spacing2XSmall: 0.25rem;
--ief-spacingXSmall: 0.5rem;
--ief-spacingSmall: 0.75rem;
--ief-spacingMedium: 1rem;
--ief-spacingLarge: 1.5rem;
--ief-spacingXLarge: 2rem;
--ief-spacing2XLarge: 2.5rem;
--ief-spacing3XLarge: 3rem;
--ief-spacing4XLarge: 3.5rem;
--ief-spacing5XLarge: 4rem;
--ief-spacing6XLarge: 4.5rem;
--ief-spacing7XLarge: 5rem;
--ief-borderRadiusNone: 0px;
--ief-borderRadiusSmall: 0.25rem;
--ief-borderRadiusMedium: 0.5rem;
--ief-borderRadiusLarge: 0.75rem;
--ief-borderRadiusXLarge: 1rem;
--ief-borderRadius2XLarge: 1.5rem;
--ief-borderRadius3XLarge: 2rem;
--iefShadowRGB: 58, 73, 218;
--ief-shadowLevel0: 0 0px 16px 0 rgba(var(--iefShadowRGB), 0.1);
--ief-shadowLevel1: 0 2px 16px 0 rgba(var(--iefShadowRGB), 0.2);
--ief-shadowLevel2: 0 4px 32px 0 rgba(var(--iefShadowRGB), 0.2);
--ief-shadowLevel3: 0 8px 64px 0 rgba(var(--iefShadowRGB), 0.2);
--ief-shadowLevel4: 0 12px 96px 0 rgba(var(--iefShadowRGB), 0.2);
--ief-textWhite: #ffffff;
--ief-brandPrimary: #0176D3;
--sds-c-button-text-color: var(--ief-brandPrimary);
--sds-c-button-text-color-hover: var(--slds-g-color-brand-base-40);
--slds-c-button-text-color-active: var(--slds-g-color-brand-base-40);
--sds-c-button-radius-border: var(--ief-borderRadius3XLarge);
--slds-c-button-shadow-focus: var(--ief-shadowLevel0);
--slds-c-button-color-border-active: var(--slds-g-color-brand-base-40);
--slds-c-input-color-border: var(--slds-g-color-brand-base-70);
--slds-c-input-radius-border: var(--ief-borderRadiusLarge);
--slds-c-input-color-border-focus: var(--slds-g-color-brand-base-40);
--slds-c-input-shadow-focus: 0 0 0 0.25rem var(--slds-g-color-brand-base-90);
--slds-c-card-shadow: 0px 2px 16px rgba(216, 230, 254, 0.5);
--slds-c-card-radius-border: var(--ief-borderRadius2XLarge);
--slds-c-card-heading-font-weight: 590;
--slds-c-card-footer-spacing-block-end: var(--ief-spacingXLarge);
--slds-c-card-footer-spacing-block-start: var(--ief-spacingXLarge);
--slds-c-card-header-spacing-block-start: var(--ief-spacingXLarge);
--slds-c-card-footer-text-align: center;
--slds-c-card-header-spacing-inline-start: var(--ief-spacingXLarge);
--slds-c-checkbox-color-border: var(--ief-brandPrimary);
--slds-c-checkbox-radius-border: var(--ief-borderRadiusSmall);
--slds-c-checkbox-mark-color-foreground: var(--slds-g-color-brand-base-100, #FFFFFF);
--slds-c-checkbox-color-border-checked: var(--ief-brandPrimary);
--slds-c-checkbox-color-border-focus: var(--ief-brandPrimary);
--slds-c-checkbox-color-background-checked: var(--ief-brandPrimary);
--slds-c-checkbox-shadow-focus: 0 0 0 0.25rem
  var(--slds-g-color-brand-base-40);
--slds-c-accordion-heading-font-size: 1.125rem;
--slds-c-accordion-section-spacing-block-end: var(--ief-spacingLarge);
--slds-c-accordion-section-spacing-block-start: var(--ief-spacingLarge);
--slds-c-accordion-section-spacing-inline-end: var(--ief-spacingLarge);
--slds-c-accordion-section-spacing-inline-start: var(--ief-spacingLarge);
--slds-c-accordion-heading-line-height: 1.75rem;
--sds-c-accordion-heading-text-color-hover: var(--slds-g-color-brand-base-40);
--slds-c-radio-shadow-focus: 0 0 0 0.25rem var(--slds-g-color-brand-base-90);
--slds-c-radio-color-border:var(--ief-brandPrimary);
--slds-c-radio-mark-color-foreground:var(--ief-brandPrimary);
--slds-c-radio-color-border-checked:var(--ief-brandPrimary);
--slds-c-radio-color-border-focus:var(--ief-brandPrimary);
--slds-c-tooltip-color-background: var(--slds-g-color-brand-base-30);
--slds-c-tabs-item-text-color: var(--ief-brandPrimary);
--slds-c-tabs-item-color-border-active: var(--ief-brandPrimary);
--slds-c-tabs-item-text-color-active: var(--ief-brandPrimary);
--slds-c-tabs-item-line-height: var(--ief-spacingLarge);
--slds-c-tabs-item-spacing-block-start: var(--ief-spacingSmall);
--slds-c-tabs-item-spacing-block-end: var(--ief-spacingSmall);
--slds-c-tabs-item-spacing-inline-start: var(--ief-spacingMedium);
--slds-c-tabs-item-spacing-inline-end: var(--ief-spacingMedium);
--slds-c-tabs-item-sizing-height: auto;
--slds-c-modal-radius-border: var(--ief-borderRadius2XLarge);
/* --slds-c-modal-header-spacing-block-start: var(--ief-spacingXLarge); */
/* --slds-c-modal-header-spacing-block-end: var(--ief-spacingXLarge); */
--slds-c-modal-header-spacing-inline-start: var(--ief-spacingXLarge);
--slds-c-modal-header-spacing-inline-end: var(--ief-spacingXLarge);
--slds-c-modal-footer-spacing-block-start: var(--ief-spacingXLarge);
--slds-c-modal-footer-spacing-block-end: var(--ief-spacingXLarge);
--slds-c-modal-footer-spacing-inline-start: var(--ief-spacingXLarge);
--slds-c-modal-footer-spacing-inline-end: var(--ief-spacingXLarge);
--slds-c-modal-footer-color-background: var(
  --slds-g-color-neutral-base-100,
  #ffffff
);
--slds-c-modal-heading-font-weight: 700;
--slds-c-textarea-color-border: var(--slds-g-color-brand-base-70);
--slds-c-textarea-radius-border: var(--ief-borderRadiusLarge);
--slds-c-textarea-color-border-focus: var(--slds-g-color-brand-base-40);
--slds-c-textarea-shadow-focus: 0 0 0 0.25rem var(--slds-g-color-brand-base-90);
--lwc-tableCellSpacing: var(--ief-spacingMedium);                                                                                                                                                                                                                                                        
}

.THIS .slds-input {
height: var(--ief-spacing3XLarge);
}

.THIS .slds-input[type=search] {
--slds-c-input-color-border: var(--slds-g-color-brand-base-70);
--slds-c-input-radius-border: var(--ief-borderRadius2XLarge);
--slds-c-input-shadow-focus: 0 0 0 0.25rem var(--slds-g-color-brand-base-90);
}
.THIS .slds-input[type=search]:focus {
--slds-c-input-color-border-focus: var(--slds-g-color-brand-base-40);
--slds-c-input-color-border: var(--slds-g-color-brand-base-40);
}

.THIS .slds-has-error .slds-input {
--slds-c-input-shadow: none;
}

.THIS .slds-button_icon-brand,
.THIS .slds-button_icon-container,
.THIS .slds-button_icon-border-filled,
.THIS .slds-button_icon-border-inverse,
.THIS .slds-button_icon-border {
--slds-c-button-spacing-inline-end: calc(var(--ief-spacingLarge) - 1px);
--slds-c-button-spacing-inline-start: calc(var(--ief-spacingLarge) - 1px);
--slds-c-button-spacing-block-end: calc(var(--ief-spacingLarge) - 1px);
--slds-c-button-spacing-block-start: calc(var(--ief-spacingLarge) - 1px);
}

.THIS .slds-button_icon-border-filled,
.THIS .slds-button_icon-border {
--slds-c-button-text-color-hover: var(--slds-g-color-brand-base-40);
--slds-c-button-color-background-hover: var(--slds-g-color-brand-base-95);
--slds-c-button-color-background-active: var(--slds-g-color-brand-base-90);
--slds-c-button-color-border-active: var(--slds-g-color-brand-base-30);
}

.THIS .slds-button_icon-brand {
background-color: var(--ief-brandPrimary);
border-color: var(--ief-brandPrimary);
}
.THIS .slds-button_icon-brand:hover {
background-color: var(--slds-g-color-brand-base-40);
border-color: var(--slds-g-color-brand-base-40);
}
.THIS .slds-button_icon-brand:active, .THIS .slds-button_icon-brand:focus {
background-color: var(--slds-g-color-brand-base-30);
border-color: var(--slds-g-color-brand-base-30);
}

.THIS .slds-button_icon-border {
color: var(--ief-brandPrimary);
border-color: var(--ief-brandPrimary);
}

.THIS .slds-button_icon-border-filled {
color: var(--ief-brandPrimary);
border-color: var(--ief-brandPrimary);
margin-bottom: var(--ief-spacing2XSmall);
}

.THIS .slds-button-group {
font-size: 1rem;
--slds-c-button-spacing-inline-start: var(--ief-spacingXLarge);
--slds-c-button-spacing-inline-end: var(--ief-spacingXLarge);
}
.THIS .slds-button-group .slds-button.slds-button_first.slds-button_first {
border-radius: var(--ief-borderRadius2XLarge) var(--ief-borderRadiusNone) var(--ief-borderRadiusNone) var(--ief-borderRadius2XLarge);
}
.THIS .slds-button-group .slds-button.slds-button_last.slds-button_last {
border-radius: var(--ief-borderRadiusNone) var(--ief-borderRadius2XLarge) var(--ief-borderRadius2XLarge) var(--ief-borderRadiusNone);
height: var(--ief-spacing3XLarge);
margin-bottom: var(--ief-spacing2XSmall);
}
.THIS .slds-button-group .slds-dropdown {
box-shadow: var(--ief-shadowLevel1);
border-radius: var(--ief-borderRadiusMedium);
}
.THIS .slds-button-group .slds-dropdown__item > a {
color: var(--slds-g-color-brand-base-50);
justify-content: center;
padding: var(--ief-spacingSmall) var(--ief-spacingXLarge);
font-size: 1rem;
line-height: 1.5rem;
}

.THIS .slds-popover {
box-shadow: var(--ief-shadowLevel2);
border-radius: var(--ief-borderRadiusLarge);
border: none;
}
.THIS .slds-popover::before, .THIS .slds-popover::after {
border-color: transparent;
box-shadow: none;
}

.THIS .slds-popover__footer {
background-color: transparent;
border: none;
--slds-c-button-spacing-inline-end: var(--ief-spacingXSmall);
--slds-c-button-spacing-inline-start: var(--ief-spacingXSmall);
}

.THIS .slds-popover__body,
.THIS .slds-popover__header,
.THIS .slds-popover__footer {
padding: var(--ief-spacingLarge);
}

.THIS .slds-popover__header {
padding-bottom: var(--ief-spacingSmall);
}

.THIS .slds-popover__header + .slds-popover__body {
padding-top: 0;
}

.THIS .slds-popover__body + .slds-popover__footer {
padding-top: 0;
}

.THIS .slds-popover_walkthrough-alt,
.THIS .slds-popover_feature {
background-color: var(--slds-g-color-brand-base-30);
padding-bottom: 0;
}
.THIS .slds-popover_walkthrough-alt .slds-popover__footer .slds-button,
.THIS .slds-popover_feature .slds-popover__footer .slds-button {
--slds-c-button-text-color: var(--ief-textWhite);
}

.THIS .ief-popover-footer-steps {
color: var(--slds-g-color-neutral-base-50, #747474);
}

.THIS .slds-popover_tooltip .slds-popover__body {
padding: var(--ief-spacingXSmall) var(--ief-spacingMedium);
}
.THIS .slds-th__action{ height: auto; font-weight: bold; }
.THIS .slds-button_brand,
.THIS .slds-button_outline-brand,
.THIS .slds-button_neutral,
.THIS .slds-button_destructive,
.THIS .slds-button_text-destructive,
.THIS .slds-button_success {
--slds-c-button-spacing-inline-end: var(--ief-spacingXLarge);
--slds-c-button-spacing-inline-start: var(--ief-spacingXLarge);
--slds-c-button-line-height: 2.875rem;
}
.THIS .ies_button_3x-padding .slds-button_outline-brand, 
.THIS .ies_button_3x-padding .slds-button_brand{--slds-c-button-spacing-inline-end: var(--ief-spacing3XLarge);
  --slds-c-button-spacing-inline-start: var(--ief-spacing3XLarge);}
.THIS .slds-button_brand, .THIS .slds-button--brand {
--sds-c-button-brand-color-background: var(--ief-brandPrimary);
--sds-c-button-brand-color-background-hover: var(
  --slds-g-color-brand-base-40
);
--slds-c-button-brand-color-background-active: var(
  --slds-g-color-brand-base-30
);
--slds-c-button-brand-color-border: var(--ief-brandPrimary);
--slds-c-button-brand-color-border-hover: var(--ief-brandPrimary);
}

.THIS .slds-button_outline-brand {
--slds-c-button-outline-brand-color-background-active: var(
  --slds-g-color-brand-base-90
);
--slds-c-button-outline-brand-color-background-hover: var(
  --slds-g-color-brand-base-95
);
--slds-c-button-outline-brand-color-border: var(--ief-brandPrimary);
--slds-c-button-outline-brand-color-border-hover: var(
  --slds-g-color-brand-base-40
);
}

.THIS .slds-button_neutral {
--slds-c-button-neutral-color-background-active: var(
  --slds-g-color-brand-base-90
);
--slds-c-button-neutral-color-background-hover: var(
  --slds-g-color-brand-base-95
);
--slds-c-button-neutral-color-border: var(--ief-brandPrimary);
--slds-c-button-neutral-color-border-hover: var(--slds-g-color-brand-base-40);
--slds-c-button-neutral-color-border-active: var(
  --slds-g-color-brand-base-40
);
}

.THIS .slds-notification {
--ief-shadowRGB: 0, 0, 0;
box-shadow: var(--ief-shadowLevel1);
border: 1px solid var(--ief-notificationBorderColor, #aeaeae);
border-left: 4px solid var(--ief-notificationBorderColorLeft, #aeaeae);
}

.THIS .slds-notification__target {
padding: var(--ief-spacingMedium);
padding-left: var(--ief-spacingSmall);
}

.THIS .slds-scoped-notification {
--ief-shadowRGB: 0, 0, 0;
box-shadow: var(--ief-shadowLevel1);
border-radius: var(--ief-borderRadiusSmall);
border: 1px solid var(--ief-notificationBorderColor, #aeaeae);
border-left: 4px solid var(--ief-notificationBorderColorLeft, #aeaeae);
}
.THIS .slds-scoped-notification.slds-theme_info {
--ief-shadowRGB: 5, 98, 138;
--ief-notificationBorderColorLeft: #05628a;
--ief-notificationBorderColor: #90d0fe;
background-color: #eaf5fe;
color: var(--slds-g-color-neutral-base-10, #181818);
}
.THIS .slds-scoped-notification.slds-theme_info a:not(.slds-button--neutral):link {
color: var(--slds-g-color-neutral-base-10, #181818);
}
.THIS .slds-scoped-notification.slds-theme_info .slds-icon {
--slds-c-icon-color-foreground: #05628a;
fill: #05628a;
}
.THIS .slds-scoped-notification.slds-theme_success {
--ief-shadowRGB: 34, 104, 62;
--ief-notificationBorderColorLeft: #2e844a;
--ief-notificationBorderColor: #91db8b;
background-color: #ebf7e6;
color: var(--slds-g-color-neutral-base-10, #181818);
}
.THIS .slds-scoped-notification.slds-theme_success a:not(.slds-button--neutral):link {
color: var(--slds-g-color-neutral-base-10, #181818);
}
.THIS .slds-scoped-notification.slds-theme_success .slds-icon {
--slds-c-icon-color-foreground: #22683e;
fill: #22683e;
}
.THIS .slds-scoped-notification.slds-theme_warning {
--ief-shadowRGB: 170, 48, 1;
--ief-notificationBorderColorLeft: #825101;
--ief-notificationBorderColor: #ffba90;
background-color: #fff1ea;
color: var(--slds-g-color-neutral-base-10, #181818);
}
.THIS .slds-scoped-notification.slds-theme_warning a:not(.slds-button--neutral):link {
color: var(--slds-g-color-neutral-base-10, #181818);
}
.THIS .slds-scoped-notification.slds-theme_warning .slds-icon {
--slds-c-icon-color-foreground: #825101;
fill: #825101;
}
.THIS .slds-scoped-notification.slds-theme_error {
--ief-shadowRGB: 186, 5, 23;
--ief-notificationBorderColorLeft: #ba0517;
--ief-notificationBorderColor: #feb8ab;
background-color: #fef1ee;
color: var(--slds-g-color-neutral-base-10, #181818);
}
.THIS .slds-scoped-notification.slds-theme_error a:not(.slds-button--neutral):link {
color: var(--slds-g-color-neutral-base-10, #181818);
}
.THIS .slds-scoped-notification.slds-theme_error .slds-icon {
--slds-c-icon-color-foreground: #ba0517;
fill: #ba0517;
}

.THIS .slds-scoped-notification_dark {
--ief-notificationBorderColorLeft: #747474;
}
.THIS .iefBorderColor{border-color: #D8E6FE; }
.THIS .slds-tabs_default__nav .slds-dropdown {
box-shadow: var(--ief-shadowLevel1);
border-radius: var(--ief-borderRadiusMedium);
margin-top: var(--ief-spacingMedium);
}
.THIS .slds-tabs_default__nav .slds-dropdown__item > a {
color: var(--ief-brandPrimary);
padding: var(--ief-spacingSmall) var(--ief-spacingMedium);
}
.THIS .slds-modal__content_headless, 
.THIS .slds-modal__header_empty + .slds-modal__content, 
.THIS .slds-modal__header--empty + .slds-modal__content{ border-bottom-right-radius: var(--slds-c-modal-radius-border); border-bottom-left-radius: var(--slds-c-modal-radius-border); }
.THIS .slds-tabs_default ul {
background: var(--ief-textWhite);
border-radius: var(--ief-spacingXSmall);
}
.THIS .iefHeader .slds-button.slds-button_neutral{border:0; padding-left: 16px; line-height: 34px;}
.THIS .slds-tabs_default__link[tabindex="0"]:focus {
text-decoration: none;
}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         
.THIS .slds-scoped-notification { margin: var(--ief-spacingLarge) 0; }                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
.THIS .omniscript-body.slds-card__body .slds-data-table .tableRowCell{ padding: var(--ief-spacingMedium); }                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      
.THIS .omniscript-body.slds-card__body .slds-data-table .slds-data-table-head-cell{ background-color:#EEF4FF; }
.THIS .omniscript-body.slds-card__body .slds-form-element.slds-button-group.pull-right { margin-bottom: var(--ief-spacingLarge); }                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          
.THIS .slds-table.table.slds-data-table { border-radius: var(--ief-borderRadiusLarge); overflow:hidden; margin: var(--ief-spacingLarge) 0; }                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 
.THIS .iesTitle, .THIS .iesTitle h2{ font-size:22px; font-weight:normal; line-height:40px; margin-bottom:0; }
.THIS .slds-tabs_default__item + .slds-tabs_default__item {
margin-left: var(--ief-spacingLarge);
}
.THIS .noBorder_lastChild .cf-vlocity-state:last-of-type .slds-border_bottom{ border:none; }